<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/css/tether.min.css")
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css", integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj", crossorigin="anonymous")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.css")
  link(rel="stylesheet", href="style.css")
  title Javascript intermediary scripts
  
body#body
  
  .container#page
    h1 Nodes selector & DOM manipulation
    .card
      .card-header
        h1#header List
        h2 Buy groceries
      ul#myUL
        li#one.hoverable.hot
          em fresh
          span  figs
        li#two.hoverable.hot pine nuts
        li#three.hoverable.hot honey
        li#four.hoverable balsamic vinegar
    .buttons
      button.btn.btn-sm.btn-primary(onclick="getId()") getElementById
      button.btn.btn-sm.btn-primary(onclick="querySel()") querySelector
      button.btn.btn-sm.btn-primary(onclick="getClass()") getElementsByClassName
      button.btn.btn-sm.btn-primary(onclick="getTag()") getElementsByTagName
      button.btn.btn-sm.btn-primary(onclick="queryAll()") querySelectorAll
      button.btn.btn-sm.btn-primary(onclick="travDom()") Traverse the DOM
      button.btn.btn-sm.btn-primary(onclick="addItem()") Add new node to the DOM
      button.btn.btn-sm.btn-primary(onclick="deleteItem()") Delete node from the DOM
      button.btn.btn-sm.btn-primary(onclick="attr()") Change attributes
  
  hr
  
  .container#events
    h1 Events
    
    .row
      #messageEmail
      
    input#email(type='email', placeholder='Enter an email adress')
    
    .row
      #messageUsername
    
    input#username(type='text', placeholder='Enter a username')
    
    .row
      #messagePassword
      
    input#password(type='password', placeholder='Enter a password')
    
    .row
      
      #messageText
      
    textarea#comment(placeholder='Enter a comment here...')

  .container#delegation
    h2 Event delegation
    
    ul.list-group#todo
      li.list-group-item.list-group-item-info To-do
      li.list-group-item.list-group-item-action Study
        a(href="#").octicon.octicon-trashcan.pull-xs-right
        
      li.list-group-item.list-group-item-action Go to the gym
        a(href="#").octicon.octicon-trashcan.pull-xs-right
        
      li.list-group-item.list-group-item-action Go to the fishing store
        a(href="#").octicon.octicon-trashcan.pull-xs-right
        
      li.list-group-item.list-group-item-action Buy groceries
        a(href="#").octicon.octicon-trashcan.pull-xs-right

  hr
  .container#focus
    h2 Focus & Blur events
    
    .row
    
      #msg
      
    input#randomInput(placeholder="Enter some text...")
    
  hr
  .container#mouse
    h2 Mouse events
    .contentExample
      h4 Some random content
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    
  hr
  
  .navbar.navbar-dark.bg-inverse.navbar-fixed-top#position
    .nav.navbar-nav#myBar
      span screenX: 
      .value#sx
      span screenY:
      .value#sy 
      span.separator || 
      span pageX: 
      .value#px
      span pageY: 
      .value#py
      span.separator || 
      span clientX: 
      .value#cx
      span clientY: 
      .value#cy 
      
  .container#colors
    h2 Playing with colors
    #myCanvas 
      #myColor test
  
  hr
  
  .container
    h2 Next script
    

script(src="https://code.jquery.com/jquery-3.1.0.min.js", integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=", crossorigin="anonymous")
script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js", integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU", crossorigin="anonymous")
script(src="script.js")
