body {
  background-color: #ecf0f1;
}

h1, h2 {
  margin: auto;
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
  color: #2c3e50;
  font-family: 'Ubuntu';
  text-transform: uppercase;
}

hr {
  width: 75%;
  margin: 50px auto 30px auto;
}

#page .card {
  width: 500px;
  margin: auto;
  margin-top: 50px;
  font-size: 1.3em;
  font-weight: bold;
  color: white;
  background-color: #969696;
}

#page .card h1 {
  color: white;
}

#page .card .card-header {
  padding: 30px 0;
  background-color: #2c3e50;
  text-align: center;
  font-family: 'ubuntu';
  text-transform: uppercase;
}

#page .card .card-header h1 {
  margin-bottom: 30px;
}

#page .font {
  font-family: 'ubuntu';
}

#page ul {
  padding: 0;
  margin: 0;
  font-family: monospace;
  position: relative;
  list-style: none;
}

#page ul li {
  padding: 20px 20px;
  background-color: #f39c12;
  position: relative;
  border: 1px solid rgba(44, 62, 80, 0.4);
}

#page ul .hot {
  background-color: #e74c3c;
}

#page ul .fresh {
  background-color: #16a085 !important;
}

#page ul .hoverable:before {
  display: block;
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#page ul .hoverable:hover:before {
  z-index: 1;
  background-color: rgba(44, 62, 80, 0.1);
}

#page .buttons {
  background-color: #ecf0f1;
  width: 500px;
  height: auto;
  margin: auto;
  margin-top: 20px;
}

#page .buttons .btn {
  padding: 5px 10px;
  margin: 10px 10px 0 0;
}

#events h2 {
  margin-top: 50px;
}

#events .row {
  margin: auto;
  margin-top: 30px;
}

#events .row > * {
  color: #c0392b;
  font-style: italic;
  text-align: center;
  margin-bottom: 30px;
}

#events input, #events textarea {
  display: block;
  margin: auto;
  width: 400px;
  padding: 15px 25px;
  font-size: 1.6em;
  color: slategray;
}

#delegation ul {
  width: 600px;
  margin: auto;
  margin-top: 50px;
}

#delegation ul .list-group-item-info {
  text-align: center;
  font-size: 1.6em;
}

#delegation ul a {
  color: black;
}

#delegation ul a:hover {
  color: #c0392b;
}
