<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/css/tether.min.css")
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css", integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj", crossorigin="anonymous")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.css")
  link(rel="stylesheet", href="style.css")
  title Learning jQuery

body
  .container#base
    h1 Learning the bases
    ul.list-group
      li.list-group-item.list-group-item-success Bonjour
      li.list-group-item.list-group-item-info Hello
      li.list-group-item.list-group-item-warning Hola
      li.list-group-item.list-group-item-danger#last Etc
      
    hr
    .list-group#shoppingList
      a.shoppingItem.list-group-item#1 Milk
      a.shoppingItem.list-group-item#2 Cocoa
      a.shoppingItem.list-group-item#3 Bread
      a.shoppingItem.list-group-item#4 Jam
    
    hr
    input#inputForm.form-control(type="text" placeholder="Try something")

    hr
    
    button.btn.btn-outline-info.myButton Show
        
    .myTable
      #firstRow.tableRow
        .cell.odd#one One
        .cell#two Two
        .cell.odd#three Three
        .cell#four Four
      #secondRow.tableRow
        .cell.odd#five Five
        .cell#six Six
        .cell.odd#seven Seven
        .cell#eight Eight
      #thirdRow.tableRow
        .cell.odd#nine Nine
        .cell#ten Ten
        .cell.odd#eleven Eleven
        .cell#twelve Twelve
      #fourthRow.tableRow
        .cell.odd#thirteen Thirteen
        .cell#fourteen Fourteen
        .cell.odd#fifteen Fifteen
        .cell#sixteen Sixteen
        
          
          
          

script(src="https://code.jquery.com/jquery-3.1.0.min.js", integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=", crossorigin="anonymous")
script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js", integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU", crossorigin="anonymous")
script(src="script.js")
