// Basic page styling
body
  text-align: center
  padding: 50px 50px 0 50px
  font-family: Lato, sans-serif

  hr
    margin: 50px 0
  h1
    font-weight: 400
    color: slategray
    margin-bottom: 20px
  h4
    font-weight: 300
    color: slategray
    margin-bottom: 50px


  .firstScript
    padding: 40px 25px
    box-shadow: 0px 0px 0px 1px gray,0px 0px 0px 4px white, 0px 0px 0px 5px gray

    .input
      margin: 0 auto 50px auto
      input
        width: 50%
        padding: 20px 25px
        font-size: 1.5em
        border: 1px solid #95a5a6
        border-radius: 3px
        color: slategray

    .price
      font-size: 1.2em
      color: #7f8c8d
    #cost
      color: #232b2b
      width: 200px
      margin-left: 50px
      background: #e74c3c
      box-shadow: 0px 0px 0px 2px white, 0px 0px 0px 4px #e74c3c
      transform: rotate(8deg)
    .preview
      background: #ecf0f1
      padding: 20px 30px
      text-align: center
      text-transform: uppercase
      font-size: 2.5em
      letter-spacing: 5px
      color: #232b2b




  .secondScript
    padding: 40px 25px
    box-shadow: 0px 0px 0px 1px #2c3e50,0px 0px 0px 4px white, 0px 0px 0px 5px #2c3e50

    #greeting
      font-size: 2em
      font-weight: 700
      margin-bottom: 30px

    table tr td
      &:first-child
        font-weight: bold




  .fourthScript
    form
      margin-top: 50px

      .message
        font-size: 1.3em
        color: #232b2b
        vertical-align: middle
        line-height: 45px
      input
        padding: 10px 20px
        color: #3498db
        border: 1px solid #3498db
    button
      margin-top: 50px
      margin-bottom: 50px

    table
      max-width: 50%
      margin: auto

  .fifthScript
    h4
      margin-top: 40px
    .row
      margin-top: 50px
      button
        width: 70px
      #result
        font-size: 2.5em
        line-height: 58px
        color: rgb(236, 240, 241)

      #converted
        font-size: 1.6em
        line-height: 58px
        color: #7f8c8d
