body {
  text-align: center;
  padding: 50px 50px 0 50px;
  font-family: Lato, sans-serif;
}

body hr {
  margin: 50px 0;
}

body h1 {
  font-weight: 400;
  color: slategray;
  margin-bottom: 20px;
}

body h4 {
  font-weight: 300;
  color: slategray;
  margin-bottom: 50px;
}

body .firstScript {
  padding: 40px 25px;
  box-shadow: 0px 0px 0px 1px gray,0px 0px 0px 4px white, 0px 0px 0px 5px gray;
}

body .firstScript .input {
  margin: 0 auto 50px auto;
}

body .firstScript .input input {
  width: 50%;
  padding: 20px 25px;
  font-size: 1.5em;
  border: 1px solid #95a5a6;
  border-radius: 3px;
  color: slategray;
}

body .firstScript .price {
  font-size: 1.2em;
  color: #7f8c8d;
}

body .firstScript #cost {
  color: #232b2b;
  width: 200px;
  margin-left: 50px;
  background: #e74c3c;
  box-shadow: 0px 0px 0px 2px white, 0px 0px 0px 4px #e74c3c;
  transform: rotate(8deg);
}

body .firstScript .preview {
  background: #ecf0f1;
  padding: 20px 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5em;
  letter-spacing: 5px;
  color: #232b2b;
}

body .secondScript {
  padding: 40px 25px;
  box-shadow: 0px 0px 0px 1px #2c3e50,0px 0px 0px 4px white, 0px 0px 0px 5px #2c3e50;
}

body .secondScript #greeting {
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 30px;
}

body .secondScript table tr td:first-child {
  font-weight: bold;
}

body .fourthScript form {
  margin-top: 50px;
}

body .fourthScript form .message {
  font-size: 1.3em;
  color: #232b2b;
  vertical-align: middle;
  line-height: 45px;
}

body .fourthScript form input {
  padding: 10px 20px;
  color: #3498db;
  border: 1px solid #3498db;
}

body .fourthScript button {
  margin-top: 50px;
  margin-bottom: 50px;
}

body .fourthScript table {
  max-width: 50%;
  margin: auto;
}

body .fifthScript h4 {
  margin-top: 40px;
}

body .fifthScript .row {
  margin-top: 50px;
}

body .fifthScript .row button {
  width: 70px;
}

body .fifthScript .row #result {
  font-size: 2.5em;
  line-height: 58px;
  color: #ecf0f1;
}

body .fifthScript .row #converted {
  font-size: 1.6em;
  line-height: 58px;
  color: #7f8c8d;
}

body .sixthScript h1 {
  margin-bottom: 50px;
}

body .sixthScript h4 {
  color: #ecf0f1;
  margin: 0 0 40px 0;
  padding-top: 25px;
}

body .sixthScript .card {
  color: #ecf0f1;
  margin: auto;
  width: 800px;
  height: 600px;
  background-image: url("placeimg_800_600_any.jpg");
}

body .sixthScript .card .availability {
  width: 350px;
  height: 300px;
  background: rgba(0, 0, 0, 0.7);
  margin-left: 400px;
  margin-top: 250px;
}

body .sixthScript .card .availability .items {
  width: 75%;
  padding: 20px 0;
  margin: auto;
  font-size: 1.2em;
  letter-spacing: 1.5px;
}

body .sixthScript .card .availability .items:last-child {
  border-bottom: solid #ecf0f1 1px;
}

body .sixthScript .card .availability #item1 {
  border-top: solid #ecf0f1 1px;
}

body .seventhScript .card {
  max-width: 520px;
  margin: auto;
}

body .seventhScript .card img {
  margin-bottom: 30px;
}

body .seventhScript .card-title {
  margin: 30px 0 30px 0;
  color: #2c3e50;
  font-size: 1.8em;
}

body .seventhScript .separator {
  border: 1px solid rgba(248, 148, 6, 0.2);
  margin: 0;
}

body .seventhScript .separator:nth-child(3) {
  margin-bottom: 30px;
}

body .eighthScript .card {
  max-width: 520px;
  margin: auto;
}

body .eighthScript .card img {
  margin-bottom: 30px;
}

body .eighthScript .card-title {
  margin: 30px 0 30px 0;
  color: #2c3e50;
  font-size: 1.8em;
}

body .eighthScript .separator {
  border: 1px solid rgba(217, 83, 79, 0.2);
  margin: 0;
  margin-bottom: 30px;
}

body .eighthScript .card-text {
  margin-top: 30px;
  color: #34495e;
  font-size: 1em;
  text-align: center;
  line-height: 40px;
}

body .ninthScript .card {
  max-width: 520px;
  margin: auto;
}

body .ninthScript .card img {
  margin-bottom: 30px;
}

body .ninthScript .card-title {
  margin: 30px 0 30px 0;
  color: #2c3e50;
  font-size: 1.8em;
}

body .ninthScript .separator {
  border: 1px solid rgba(92, 184, 92, 0.2);
  margin: 0;
  margin-bottom: 30px;
}

body .ninthScript .card-text {
  margin-top: 30px;
  color: #34495e;
  font-size: 1em;
  line-height: 40px;
  text-align: center;
}

body .tenthScript .card {
  max-width: 520px;
  margin: 50px auto 0 auto;
  padding: 40px 20px;
  background-color: rgba(200, 200, 200, 0.1);
}

body .tenthScript hr {
  border-top: solid 1px #5bc0de;
}

body .tenthScript h4 {
  font-size: 1.7em;
}

body .tenthScript #originalNumber {
  font-size: 1.4em;
  font-weight: bold;
}

body .tenthScript .numberText {
  font-size: 1.3em;
}

body .tenthScript h6 {
  font-size: 1.2em;
  color: slategray;
}

body .tenthScript .slimSeparator {
  width: 50%;
  margin: 30px auto 30px auto;
}
