body
  //background-color: rgba(236, 240, 241,1.0)

h1, h2
  margin: auto
  margin-top: 30px
  margin-bottom: 50px
  text-align: center
  font-weight: bold
  color: #2c3e50
  font-family: 'Ubuntu'
  text-transform: uppercase

hr
  width: 75%
  margin: 50px auto 30px auto

#eventsContainer
  display: flex
  justify-content: space-around
  align-items: center
  text-align: center
