<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  link(rel="stylesheet", href="style.css")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/css/tether.min.css")
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css", integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj", crossorigin="anonymous")
  title JavaScript bases
  
body(data-spy="scroll" data-target=".nav")
  nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse
    ul.nav.navbar-nav
      li.nav-item
        a.nav-link(href="#") Home 
      li.nav-item
        a.nav-link(href="#script1") Script 1
      li.nav-item
        a.nav-link(href="#script2") Script 2
      li.nav-item
        a.nav-link(href="#script3") Script 3
      li.nav-item
        a.nav-link(href="#script4") Script 4
      li.nav-item
        a.nav-link(href="#script5") Script 5
      li.nav-item
        a.nav-link(href="#script6") Script 6
      li.nav-item
        a.nav-link(href="#script7") Script 7
      li.nav-item
        a.nav-link(href="#script8") Script 8
      li.nav-item
        a.nav-link(href="#script9") Script 9
      li.nav-item
        a.nav-link(href="#script10") Script 10
      li.nav-item
        a.nav-link(href="#script11") Script 11
      li.nav-item
        a.nav-link(href="#script12") Script 12

  // First script container: calculate a price depending on the number of letters entered 
  .container.firstScript#script1
    .row
      h1 Custom Sign Service
      h4 ($5 per tile)
    
    .row.input
      .col-xs-12 
        form(name="signForm" method="post" onsubmit="return false;")
          input#sign(type="text" placeholder="Enter your sign here then tap Enter" onchange="updateValue()")
    
    .row.price
      .col-xs-6 Preview :
      .col-xs-6#cost Cost: $5 per tile 
    .row.preview
      .col-xs-12#preview Your awesome sign
      
  hr
  .container.secondScript#script2
    #greeting.message Hello!
    table.table.table-hover
      tr
        td Custom Sign:
        td#userSign
      tr
        td Total tiles:
        td#tiles
      tr
        td Subtotal:
        td#subTotal $
      tr
        td Shipping:
        td#shipping $
      tr.table-warning
        td Grand total:
        td#grandTotal $
    button.btn.btn-danger(type="button") Pay Now
  
  hr
  .container.thirdScript#script3
    #message.alert.alert-info Welcome !
  
  hr
  .container.fourthScript#script4
    h1 Let's do some maths!
    .row
      form(name="getSize" method="post" onsubmit="return false;")
        .col-xs-3.message.text-primary Enter the following infos:
        .col-xs-3 
          input#width(type="text" placeholder="Width")
        .col-xs-3
          input#height(type="text" placeholder="Height")
        .col-xs-3
          input#depth(type="text" placeholder="Depth")
    .row
      button.btn-lg.btn-outline-primary#submit(type="submit", form="getSize", value="Calculate!", onclick="updateSize()") Calculate!
          
    table.table.table-hover.text-primary
      tr
        td Area:
        td#area
      tr
        td Volume
        td#volume
  
  hr
  .container.fifthScript#script5
    h1 Let's play with Objects!
    h4#titleObj Temperature
    .row
      .col-xs-2.offset-xs-3
        button.btn-lg.btn-info(onclick="meter.buttonSubstract()") 
          b -
      .col-xs-2
        #resultObj
      .col-xs-2
        button.btn-lg.btn-danger(onclick="meter.buttonAdd()") 
          b +
    .row
      .col-xs-12
        #convertedObj 
        
  hr
  .container.sixthScript#script6
    h1 Why do I need Constructors!?
    .card
      .availability  
        h4 Check hotel availability
        .items#item1 Hotel 1: 2 rooms
        .items#item2 Hotel 2: 10 rooms
        
        
  hr      
  .container.seventhScript#script7
    h1 Browser Object Model: the 
      i Window Object
    .card.card-block.card-outline-warning
      img.card-img-top(src="http://placeimg.com/480/320/tech" alt="Card image cap")
      hr.separator
      .card-title Browser window infos
      p 
        i width: 
        b#windowWidth 
      p
        i height: 
        b#windowHeight
      hr.separator
      .card-title History data
      p 
        i items: 
        b#history
      hr.separator
      .card-title Screen
      p
        i width: 
        b#screenWidth
      p
        i height: 
        b#screenHeight
      hr.separator
      .card-title Current page
      p 
        i address: 
        b#address
      
      
  hr
  .container.eighthScript#script8
    h1 Document Object Model: the 
      i Document Object
    .card.card-block.card-outline-danger
      img.card-img-top(src="http://placeimg.com/480/320/tech/grayscale" alt="Card image cap")
      hr.separator
      .card-title About this page
      .card-text#aboutPage
        p 
          i Page title: 
          b#pageTitle
        p 
          i Page address: 
          b#pageAddress
        p 
          i Last modified: 
          b#lastModified
      
  hr
  .container.ninthScript#script9
    h1 Global Objects: the 
      i String Object
    .card.card-block.card-outline-success
      img.card-img-top(src="http://placeimg.com/480/320/tech/sepia" alt="Card image cap")
      hr.separator
      .card-title#saying Sample string test
      .card-text
        table.table.table-hover.table-success#stringResult
        
  hr
  .container.tenthScript#script10
    h1 Global Objects: the 
      i Number Object 
      span & the 
      i Math Object
    .card.card-outline-info
      h4 Number Object
      #originalNumber 2
      hr
      h6 originalNumber.toFixed(): Round to (3) decimal places
      #fixedDigits
      hr.slimSeparator
      .numberText
      h6 originalNumber.toPrecision(): (3) digits
      #precisedDigits
      hr
      h4 Math Object
      h6 Math.PI
      #pi
      hr.slimSeparator
      h6 Math.round(): round to the nearest integer
      #round
      hr.slimSeparator
      h6 Math.ceil: round up to the nearest integer
      #ceil
      hr.slimSeparator
      h6 Math.floor(): round down to the nearest integer
      #floor
      hr.slimSeparator
      h6 Math.sqrt(): Square root (of 9 here)
      #square
      hr.slimSeparator
      h6 Math.random(): random number ( 0 <= number < 1 )
      #random
      hr.slimSeparator
      h6 Generate random whole numbers within a range
      br 
      p Math.floor(Math.random() * 10) : 0 &le; n < 10
      #randomInteger1
      br 
      p Math.floor(Math.random() * (max-min+1) + min) : min &le; n &le; max
      #randomInteger2
      br
      p Math.floor(Math.random() * (max-min) + min) : min &le; n &lt; max
      #randomInteger3
      hr.slimSeparator
      
      
  hr
  .container.eleventhScript#script11
    h1 Global Objects: the 
      i Date Object
      
    .row
      h4#timeMessage Hello! Today we are 
    .row
      .clockBG
        #clockTime 05:00
        
    .row
      p
       i Freelancing for 
        span#working 
    hr.slimSeparator
        
    .row.timer(onload="updateTimer()")
      h4 End of time in approximatively
      p 
        a(href="http://www.morningledger.com/end-world-2016-real-dooms-day-january-2017-not-july-29/1388433/") (Supposed to be January 1, 2017... o_O)
      #timer 21:32:55
  
  hr
  .container.twelfthScript#script12
    h1 Simple loops
    table.table.table-hover#myTable
    
  
  
  
  
  
  
  script(src="https://code.jquery.com/jquery-3.1.0.min.js", integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=", crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js", integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU", crossorigin="anonymous")
  script(src="scrollspy.js")
  script(src="script.js")
